<div style="background-color: rgb(68, 67, 67);">
</div>
<div class="container-fluid banner">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-md">
                <div style="color: azure;font-size:22px;" href="#">SMILE</div>

                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="color: azure;">Home</a>
                    </li>
                    <li class="nav-item">
                        <!-- // <a class="nav-link" href="/users/register" style="color: azure;">Manage appointments</a> -->
                        <a class="nav-link" href="/appointment/dashboard" style="color: azure;">Manage appointments</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about" style="color: azure;">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login" style="color: azure;">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact" style="color: azure;">Contact US</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>