<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style-ilias2.css">
    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/about.js"></script>
  </head>
<body>
 
 <header>
  <div style="float: left;">
    <a href="/"><img src="https://smilecenterspringdale.com/wp-content/uploads/2017/04/scs_logo_web_small.png" alt="" style=" width: 40%; "></a>
</div>
 </header>
  <div class="wrapper">
    <br>

    <p style="color: #00bcd4;font-size: 39px;margin-bottom: 20px;text-align: center;font-family: poppins;padding-right: 200px;">ABOUT US</p>
    <p style="color: #fff;font-family: 'Poppins', sans-serif">Nous sommes un groupe d’étudiants fasciné par le monde d’informatique, et le monde des bases de données en particulier, pour cela et en participant en développement de cette application qui permet de prendre des rendez-vous chez un dentiste. En plus, cette application permet aussi au staff du dentiste de bien gérer les rendez-vous des clients qui peuvent suivre leurs rendez-vous tout en visitant le site officiel de leur dentiste par le biais de cette application.</p>
    <div class="team">
      <div class="team_member">
        <div class="team_img">
          <img src="/images/chaimae.jpg" alt="Team_image" style=" border-radius: 50%;">
        </div>
        <h3>Ameziane <br> Chaimae</h3>
        <p class="role">ENSA Tangier <br> Computer Science engineer</p>
        <p>Currently a 2nd year student in computer science, into front-end, and software development. Coming up wih a brand new design needs creativity, and that's what young people should learn, as they mix it with everything practical in order to give the best product. </p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="/images/jadar.jpg" alt="Team_image" style=" border-radius: 50%;">
        </div>
        <h3>Jadar <br> Mohamed</h3>
        <p class="role">ENSA Tangier <br> Computer Science engineer</p>
        <p>I am Mohamed Jadar, a senior computer science student at National School of Applied Science majoring in Computer science and minoring in Software development . You can check my github : /mjadar , to see my latest projects.</p></div>
      <div class="team_member">
        <div class="team_img">
          <img src="/images/iliess.jpg" alt="Team_image" style=" border-radius: 50%;">
        </div>
        <h3>Maztaoui <br> Ilias</h3>
        <p class="role">ENSA Tangier <br> Computer Science engineer</p>
        <p>Passionate about technology and computer science, I specialized in computer engineering at ENSAT; this allowed me to deepen my knowledge in this field and practice what I love to do. 
          Moreover, this project allowed me to practice several notions concerning Web development and the use of NOSQL databases. </p>
      </div>
    </div>
  </div>
</body>

</html>