<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">
    <link rel="stylesheet" href="/css/style_ilias.css">

</head>

<body>
   
<div class="logo" >
    <a href="/"><img src="https://smilecenterspringdale.com/wp-content/uploads/2017/04/scs_logo_web_small.png" alt="" style=" width: 480%; "></a>
 </div>
 
    <section class= "contact" >
       
            <h2 style="color: azure;padding-left: 22px;">Contact Us</h2>
            <p style="color: azure; padding-left: 22px;">
                Contact us to get more informations.
            </p>
     
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><i class="fa fa-map-marker"  aria-hidden="true"></i></div>
                    <div class="text">
                        <p style="color: rgb(68, 67, 67);font-size: 17px;font-family: poppins; font-weight: 200;float:left;color: #12aeae">Address</p>
                        <p style="color: azure;">Ensa Tangier, Boukhalef Tangier, Morocco</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-phone fa-rotate-90"  aria-hidden="true"></i></div>
                    <div class="text">
                        <p style="color: rgb(68, 67, 67);font-size: 17px;font-family: poppins; font-weight: 200;float:left;color: #12aeae">Phone</p>
                        <p style="color: azure;">06 75 00 14 90</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-comments"  aria-hidden="true"></i></div>
                    <div class="text">
                        <p style="color: rgb(68, 67, 67);font-size: 17px;font-family: poppins; font-weight: 200;float:left;color: #12aeae">E-mail</p>
                        <p style="color: azure;">smile_dentalclinic@uae.ac.ma</p>
                    </div>
                </div>
                
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="contactForm">
                <form action="">
                    <p style=" text-align : center ; color: rgb(68, 67, 67);font-size: 24px;font-family: poppins; font-weight: 210;float:left;color: rgb(68, 67, 67)">Send us a message</p>
                    <div class="inputBox">
                        <input type="text" id="name" name="" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="email" id="email" name="" required="required">
                        <span>E-Mail</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" id="subject" name="" required="required">
                        <span>Subject</span>
                    </div>
                    <div class="inputBox">
                        <textarea id="message" required="required"></textarea>
                        <span>Enter your message...</span>
                    </div>
                    <div style="text-align: center;" class="inputBox">
                        <input type="submit" name="" value="Send Message">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="text/javascript">

const contactForm = document.querySelector('.contactForm');
let name1 = document.getElementById('name');
let email = document.getElementById('email');
let subject = document.getElementById('subject');
let message = document.getElementById('message');

if(contactForm)
contactForm.addEventListener('submit', (e)=>{
    e.preventDefault();

    let formData = {
        name: name1.value,
        email: email.value,
        subject: subject.value,
        message: message.value
    }

    console.log(formData)

    let xhr = new XMLHttpRequest();
    xhr.open('POST', '/contact');
    xhr.setRequestHeader('content-type', 'application/json');
    xhr.onload = function(){
        console.log(xhr.responseText);
        if(xhr.responseText == 'success'){
            alert('Email sent');
            name1.value = '';
            email.value='';
            subject.value = '';
            message.value = '';
        }else {
            alert('Something went wrong');
        }
    }

    xhr.send(JSON.stringify(formData));

})
    </script>

    
</body>

</html>